.button {
  display: inline-block;

  margin: 0;
  padding: 10px 5px;
  border: 1px solid #666;
  border-radius: 2px;
  width: 100%;
  max-width: 256px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  color: #eee;
  background-color: #666;

  font-family: 'open sans';
  font-size: 2 rem;

  text-decoration: none;
  text-align: center;

  transition: color 500ms ease, background-color 500ms ease;

  cursor: pointer;
  margin-left: auto;
  margin-right: auto;

  &:hover {
    color: #eee;
    background-color: #333;

  }
}

.column-12 {
  width: 100%;
}

.column-12 > .button__2 {
  text-align: center;
  align-items: center;
  display: block;
  margin: auto;
  padding: 5px 5px;
  max-width: 133px;
  margin-bottom: 40px;
}

.hero_text_button {
  margin-top: 2em;
  border: 1px solid #666;
  display: inline-block;
  padding: 10px 25px;
  color: #eee;
  background-color: #666;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  cursor: pointer;
  &hover {
    olor: #eee;
    background-color: #333;

  }
}
