.cardlist {

&.row{
  padding: 15px;
  flex-direction: row;
  flex-flow: wrap;
  align-self: baseline;
}

  &__row{
    width:100%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
  }

  &__col {
    width: 50%;
    flex-direction: column;
    display: inline-block;
    padding: 10px;
    align-items: center;
  }

@media(max-width: 600px){
  min-width: 300px;
  width: 100%;
  height: 100%;
  min-width: 400px;
  object-fit: cover;
}
}
