.cardlist {

  font-family: 'open sans';
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  margin: auto;
  justify-content: space-around;


  @media(max-width: 400px){

flex-direction: column;
flex-wrap: nowrap;


  }

  &__col{
  flex-flow: wrap;
  flex-direction: column;
  display: block;
  flex-wrap: nowrap;
  justify-content: space-around;

}

  & .circular--square{
    border-radius:200px;
    height: 300px;
    margin-left: 30px;
    margin-right: 30px;
  }

& .text__cardlist{
  text-align:center;
  font-weight: bold;
  font-size: 16px;
  overflow: visible;
  padding: 5px;
  align-items:flex-end;
}

& .text__cardlist__1{
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  overflow: visible;
  padding: 0px;
  margin: auto;
  align-items: flex-end;

}

& .text__p{
  text-align: center;
  font-size: 14px;
  }

& h4{
  font-family: 'open sans';
  align-items:flex-end;
  font-size: 20px;
  margin: auto;
  display: block;
  text-align: center;
  padding: 5px;
  font-style: italic;
  width: 100%;
}

&.row{
  padding: 15px;
  flex-direction: row;
  flex-flow: wrap;
  width: 100%;
  display: block;
  margin: auto;
}

  &__row{
    width:100%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    width: 100%;
    display: block;
    margin: auto;
  }

  &__col {
    width: 100%;
    flex-direction: column;
    display: inline-block;
    padding: 10px;
    align-items: flex-end;
    display: block;
    margin: auto;
  }

}
