.cardlist {
  display: flex;
  width: 100%;
  margin: auto;
  font-family: "open sans";
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;

  @media (max-width: 400px) {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  @media (max-width: 600px) {
    display: flex;
    max-width: 50%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__col {
    display: block;
    width: 100%;
    padding: 10px;
    margin: auto;
    flex-flow: wrap;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    @media (max-width: 600px) {
      display: flex;
      max-width: 100%;
    }
  }

  .circular--square {
    height: 300px;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 200px;

    @media (max-width: 400px) {
      height: 250px;
    }

    @media (max-width: 600px) {
      height: 250px;
    }
  }

  .text__cardlist {
    padding: 5px;
    overflow: visible;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    align-items: flex-end;
  }

  .text__cardlist__1 {
    margin: auto;
    overflow: visible;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    align-items: flex-end;
  }

  .text__p {
    font-size: 14px;
    text-align: center;
  }

  h4 {
    display: block;
    width: 100%;
    padding: 5px;
    margin: auto;
    font-family: "open sans";
    align-items: flex-end;
    font-size: 1.31rem;
    font-style: italic;
    text-align: center;

    @media (max-width: 600px) {
      display: flex;
      max-width: 100%;
    }

    @media (max-width: 400px) {
      width: 70%;
      margin: auto;
    }
  }

  &.row {
    display: block;
    width: 100%;
    padding: 15px;
    margin: auto;
    flex-flow: wrap;
    flex-direction: row;
  }

  &__row {
    display: block;
    width: 100%;
    margin: auto;
    flex-flow: wrap;
    flex-direction: column;
  }
}
