.cardlist {
  display: flex;
  width: 100%;
  margin: auto;
  font-family: "open sans";
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;

  @media (max-width: 400px) {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  &__col {
    flex-flow: wrap;
    display: block;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .circular--square {
    height: 300px;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 200px;
  }

  .text__cardlist {
    padding: 5px;
    overflow: visible;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    align-items: flex-end;
  }

  .text__cardlist__1 {
    padding: 0;
    margin: auto;
    overflow: visible;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    align-items: flex-end;
  }

  .text__p {
    font-size: 14px;
    text-align: center;
  }

  h4 {
    display: block;
    width: 100%;
    padding: 5px;
    margin: auto;
    font-family: 'open sans';
    align-items: flex-end;
    font-size: 20px;
    font-style: italic;
    text-align: center;
  }

  &.row {
    display: block;
    width: 100%;
    padding: 15px;
    margin: auto;
    flex-direction: row;
    flex-flow: wrap;
  }

  &__row {
    display: block;
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: column;
    flex-flow: wrap;
  }

  &__col {
    display: inline-block;
    display: block;
    width: 100%;
    padding: 10px;
    margin: auto;
    flex-direction: column;
    align-items: flex-end;
  }

}
