.card {
  width: 100%;
  min-width: 200px;
  max-width: 600px;

  overflow: hidden;

  border-radius: 3px;

  background-color: #ffffff;

  flex-direction: column;
  font-family: 'open sans';
  margin-top: 7rem;
  align-items:flex-end;


  &__heading {
    margin-bottom: 5px;

    width: 100%;
    font-family: 'roboto slab';
    font-size: 1.5em;
    font-weight: bolder;

    word-break: break-word;

  }

  &__content {
  margin-left: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 100%;

  }

  &__text {
    margin-bottom: 10px;
    margin-right: 10px;

  }

  &__image {
    width: 30px;
    max-width: 30px;
    position: absolute;
    margin-top: 0px;

    }

    &__image__big {
       float: right;
       margin-top: 6rem;
       margin-bottom: 6rem;
       align-items: flex-start;
  }
}
