.cardlist {

  font-family: 'open sans';
  width: 90%;
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  margin: auto;

  &__col{
  flex-flow: wrap;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
  & .circular--square{
    border-radius:200px;
  }

& .text{
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  overflow: visible;
}

& .text__p{
  text-align: center;
  font-size: 12px;
  }

& h4{
font-family: 'open sans';
  align-items:center;
  font-size: 12px;

}

&.row{
  padding: 15px;
  flex-direction: row;
  flex-flow: wrap;

}

  &__row{
    width:100%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
  }

  &__col {
    width: 50%;
    flex-direction: column;
    display: inline-block;
    padding: 10px;
    align-items: center;
  }

@media(max-width: 600px){
  min-width: 300px;
  width: 100%;
  height: 100%;
  min-width: 400px;
  object-fit: cover;
}
}
