.card {
  width: 100%;
  min-width: 200px;
  max-width: 600px;
  margin-top: 7rem;
  overflow: hidden;
  font-family: "open sans";
  flex-direction: column;
  background-color: #fff;
  border-radius: 3px;
  align-items: flex-end;

  @media (max-width: 400px) {
    width: 100%;
    overflow: hidden;
  }

  &__heading {
    width: 100%;
    margin-bottom: 5px;
    font-family: "roboto slab";
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-word;
    @media (max-width: 400px) {
      width: 100%;
      font-size: 1.2em;
    }
  }

  &__content {
    display: flex;
    width: 100%;
    margin-left: 40px;
    flex-direction: column;
  }

  &__text {
    margin-right: 10px;
    margin-bottom: 10px;
    @media (max-width: 400px) {
      width: 100%;
      font-size: 1em;
    }
  }

  &__image {
    position: absolute;
    width: 30px;
    max-width: 30px;
  }

  &__image__big {
    float: right;
    margin-top: 6rem;
    margin-bottom: 6rem;
    align-items: flex-start;
  }

}
