.card {
  width: 100%;
  min-width: 200px;
  max-width: 600px;

  overflow: hidden;

  border-radius: 3px;

  background-color: #ffffff;


  flex-direction: column;
  font-family: 'open sans';
  margin-top: 100px;

  &__heading {
    margin-bottom: 15px;

    width: 100%;
    font-family: 'open sans bold';
    font-size: 1em;

    word-break: break-word;
  }

  &__content {
  margin-left: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
  }

  &__text {
    margin-bottom: 10px;
    margin-right: 10px;
  }

  &__image {
    width: 30px;
    max-width: 30px;
    position: absolute;
    margin-top: 50px;
  }
  & .img{
    float: right;
  }







}
