.column {
width: 1200px;
overflow: hidden;
font-size: 1.2em;
width: 100%;
line-height: 1.5em;

.left{
float: left;
width: 600px;
padding: 90px;
}

.right{
  float: right;
  width:600px;
  padding: 90px;

}
input {

    display: grid;
    padding-right: 24px;
}

legend{

  font-size:1.5rem;
}

@media (max-width: 600px){
  .left & .right{
    flex-direction: column;
    padding: 60px;
    width: 600px;
  }
}
}
