.column {
  width:1200px;
   overflow:hidden;
   font-size: 1.5em;
   
.left{
float: left;
align-content: center;
width:600px;
}

.right{
  float: right;
  width:600px;
  align-content: center;
}
//  section{

  //display: block;
  //flex-wrap: wrap;
  //flex-direction: column;
//}
}
