footer {
  padding: 5em;
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  list-style: none;
  list-style-type: none;
}


.block__content {
  margin: auto;
  columns: 2;
  font-size: 1em;
  flex-direction: column;
  vertical-align: baseline;
  text-align: center;
  list-style: none;
  list-style-type: none;

}

.block--block-2{
  margin-bottom: 20px;
}

.panel{
  margin: auto;
  border-top: groove #ffffff;
  width: 100%;
  text-align: center;
}

p {
      margin: auto;
      width: 50%;
      padding: 10px;
      display: block;

}
