form {

  width:1200px;
  overflow: hidden;
  font-size: 1.2em;
  width: 100%;
  line-height: 1em;
  justify-content: space-around;
font-family: 'open sans';
margin-left: 160px;


  .flex-outer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 50px;
  }

  @media (max-width: 600px) {
    align-items: flex-start;
  }

.flex-inner{
  list-style-type: none;
  display: flex;
}
.flex-inner-1{
  list-style-type: none;
}


.left,
.right {
font-size: 1.2rem;
list-style-type: none;
}

legend{
line-height: 3em;
font-size:1.5rem;

}

label{
  display: block;
  padding-top: 20px;

}
input{
line-height: 1.5em;


}
input #kyn{
padding-right: 20px;
line-height: 1em;

}
p{
  padding-bottom: 10px;
  padding-top: 10px;
}


}
