form {
  margin-left: 85px;
  font-family: "Open Sans", sans-serif;

  @media (max-width: 600px) {
    align-items: flex-start;
  }

  .flex-outer {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 400px) {
      display: flex;
      max-width: 100%;
      flex-direction: column;
      flex-wrap: nowrap;
    }

    @media (max-width: 600px) {
      margin-right: 20px;
    }
  }

  .col {/*stylelint-disable-line*/
    width: 50%;
    list-style-type: none;
  }

  .flex-inner {
    display: flex;
    list-style-type: none;
    flex-direction: row;

    select {
      min-width: 15%;
      font-size: 1rem;
      @media (max-width: 600px) {
        font-size: 0.75rem;
      }
    }

    @media (max-width: 400px) {
      flex-direction: column;
    }
  }

  .flex-inner-1 {/*stylelint-disable-line*/
    list-style-type: none;
  }

  select {/*stylelint-disable-line*/
    margin: 17px 15px;
    font-size: 1rem;
    align-content: center;
  }

  legend {/*stylelint-disable-line*/
    font-size: 1.5rem;
    line-height: 3em;
  }

  label {/*stylelint-disable-line*/
    display: block;
    padding-top: 20px;
  }

  li > input {
    min-width: 60%;
    font-size: 1rem;
    @media (max-width: 400px) {
      min-width: 100%;
    }
  }

  input {/*stylelint-disable-line*/
    margin-bottom: 10px;
  }

  p {/*stylelint-disable-line*/
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
