form {
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  margin-left: 160px;
  font-family: 'open sans';
  font-size: 1.2em;
  line-height: 1em;
  justify-content: space-around;

  .flex-outer {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    margin: auto;
    @media (min-width: 600px) {
      align-items: flex-start;
    }
  }

  @media (max-width: 600px) {
    align-items: flex-start;
  }

  .flex-inner {
    display: flex;
    list-style-type: none;
  }

  .flex-inner-1 {
    list-style-type: none;
  }

  .left,
  .right {
    font-size: 1.2rem;
    list-style-type: none;
  }

  legend {
    font-size:1.5rem;
    line-height: 3em;
  }

  label {
    display: block;
    padding-top: 20px;
  }

  input {
    line-height: 1.5em;
  }

  input #kyn {
    padding-right: 20px;
    line-height: 1em;
  }

  p {
    padding-top: 10px;
    padding-bottom: 10px;

  }

}
