form {
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  line-height: 1em;
  justify-content: space-around;

  @media (max-width: 600px) {
    align-items: flex-start;
  }

  .flex-outer {
    display: flex;
    flex-wrap: wrap;
  //  padding: 50px;

    @media (max-width: 400px) {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      max-width: 100%;
    }
  }


  .col {
    width: 50%;
  }

  .flex-inner {
    display: flex;
    list-style-type: none;
    flex-direction: row;

    select {
      min-width: 15%;
      font-size: 1rem;
    }
  }

  .flex-inner-1 {
    list-style-type: none;

  }

  .left,
  .right {
    font-size: 1.2rem;
    list-style-type: none;
  }

  legend {
    font-size: 1.5rem;
    line-height: 3em;
  }

  label {
    display: block;
    padding-top: 20px;
  }

  input {
    line-height: 1.5em;
  }

  p {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
