.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -($gutter / 2);
  margin-bottom: $gutter;
  margin-left: -($gutter / 2);
}

@mixin columns($col: 1) {

  width: ($col / 12 * 100) * 1%;
}

.col {
  padding-right: $gutter / 2;
  padding-left: $gutter / 2;

  &-12 {
    @include columns(12);
  }

  &-8 {
    @include columns(8);
  }

  &-6 {
    @include columns(6);
  }

  &-4 {
    @include columns(4);
  }

  &-3 {
    @include columns(3);
  }

  &-sm {
    @media (max-width: 600px) {
      &-12 {
        @include columns(12);
      }

      &-10 {
        @include columns(10);
      }

      &-8 {
        @include columns(8);
      }

      &-6 {
        @include columns(6);
      }

      &-4 {
        @include columns(4);
      }

      &-3 {
        @include columns(3);
      }
    }
  }

  &-smm {
    @media (max-width: 400px) {
      &-12 {
        @include columns(12);
      }

      &-10 {
        @include columns(10);
      }

      &-8 {
        @include columns(8);
      }

      &-6 {
        @include columns(6);
      }

      &-4 {
        @include columns(4);
      }

      &-3 {
        @include columns(3);
      }
    }
  }
}
