.heading {

  width: 100%;
  padding: 0;
  border: none;

  font-family: Roboto Slab;
  font-size: 2rem;
}

.heading___two {
  font-size: 1em;
  font-family: Roboto Slab;
  margin: 1em 1em 0em 0.5em;
  line-height: 1.5;
  width: 100%;
  color:red;

}

.heading__one {
     box-sizing: border-box;
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 100px 0 0 0;
     font-size: 3em;
     font-family: Roboto Slab;
     color: #ffffff;
   }

    .hero__heading__1 {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        margin: auto;
        padding: auto;
        font-size: 5em;
        font-family: Roboto Slab;
        color: #000;
        text-align: center;
      }

     .hero__heading__2 {
        font-size: 3em;
        font-family: Roboto Slab;
        margin: auto;
        line-height: 1.5;
        width: 100%;
        text-align: center;
        padding: auto;
}
      
    .h3 {
      align-items: center;
    }
