
head {
  display: flex;
 flex-direction: column;

 margin-bottom: 2em;
 padding: 2em;

 width: 100%;
 min-height: 500px;

 background: transparent url("gogn/bg-subpage.jpg") no-repeat 50% 50%;
 background-size: cover;

}

.heading__one {
     box-sizing: border-box;
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 100px 0 0 0;
     font-size: 6em;
    text-shadow: 3px 3px 0px rgba(255, 255, 255, 1);
     background: rgba(255, 255, 255, 0.3);
   }
