
header {
  display: flex;
 flex-direction: column;

 margin-bottom: 2em;
 padding: 2em;

 min-height: 500px;

 background: transparent url("gogn/bg-subpage.jpg") no-repeat 50% 50%;
 background-size: cover;
 max-width: 1200px;
 margin: 0 auto;
 width: 100%;
 height: 80%;

}

.hero {
  background: transparent url("gogn/bg.jpg") fixed no-repeat 50% 50%;
  background-size: cover;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 80%;
  display: flex;
 flex-direction: column;

 margin-bottom: 2em;
 padding: 2em;

 min-height: 500px;
}
