
header {
  display: flex;
 flex-direction: column;

 margin-bottom: 2em;
 padding: 2em;

 min-height: 450px;

 background: transparent url("gogn/bg-subpage.jpg") no-repeat 50% 50%;
 background-size: cover;
 max-width: 1200px;
 margin: 0 auto;
 width: 100%;
 height: 80%;

&.hero {
  background: transparent url("gogn/bg.jpg") fixed no-repeat 50% 50%;
  position: relative;

  min-height: 100vh;
  width: 100%;
  background-size: cover;
  max-width: 1200px;
  display: flex;
  flex-direction: column;

  margin-bottom: 2em;
  padding: 2em;

  @media (max-width: 600px) {

    min-width: 300px;
    width: 100%;
    height: 100%;
    min-width: 400px;
    object-fit: cover;  }
}

@media (max-width: 400px) {
    min-width: 400px;
    width: 100%;
    height: 100%;
    min-width: 400px;
    object-fit: cover; }


}
