.heading {
  width: 100%;
  padding: 0;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;

  @media (max-width: 400px) {
    max-width: 200px;
    max-height: 200px;
  }

  &___two {
    width: 100%;
    margin: 1em 1em;
    font-family: "Roboto Slab", serif;
    font-size: 1em;
    //line-height: 1.5;
  }

  &__one {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 100px 0 0;
    margin: 0;
    font-family: "Roboto Slab", serif;
    font-size: 3em;
    color: #fff;

    @media (max-width: 400px) {
      width: 100%;
      font-size: 1em;
    }
  }

}

.hero_text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000;
  text-align: center;
  transform: translate(-50%, -50%);
  @media (max-width: 400px) {
    width: 100%;
    font-size: 1em;

  }
}

.hero__heading__1 {
  font-family: "Roboto Slab", serif;
  font-size: 3em;
  font-weight: lighter;
  color: #000;
<<<<<<< HEAD
  animation: fadein 2s;
=======
  animation: fadein 1s;
>>>>>>> b939ea584f344a87f9233a712da997e7074ec232
  @media (max-width: 400px) {
    font-size: 1rem;
  }
}

.hero__heading__2 {
  font-family: "Roboto Slab", serif;
  font-size: 5em;
  font-weight: bold;
  animation: fadein 4s;
  @media (max-width: 400px) {
    font-size: 1.5rem;
  }
}

.h3 {
  align-items: center;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
