.heading {
  width: 100%;
  padding: 0;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;

  @media (max-width: 400px) {
    min-width: 100px;
    max-width: 300px;
  }

  &___two {
    width: 100%;
    margin: 1em 0em;
    font-family: "Roboto Slab", serif;
    font-size: 1em;
    line-height: 1.5;
  }

  &__one {

     box-sizing: border-box;
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 100px 0 0 0;
     font-size: 3em;
     font-family: 'Roboto Slab', serif;
     color: #ffffff;

     @media (max-width: 400px) {
       font-size: 1em;
     }
   }

    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 100px 0 0;
    margin: 0;
    font-family: "Roboto Slab", serif;
    font-size: 3em;
    color: #fff;



  @media (max-width: 400px) {
    font-size: 1em;}


}

.hero_text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000;
  text-align: center;
  transform: translate(-50%, -50%);

}

  .hero__heading__1 {
    font-size: 3em;
    font-family: 'Roboto Slab', serif;
    color: #000;
    animation: fadein 4s;
    @media (max-width: 400px) {
      font-size: 0.5em;

    }
}

.hero__heading__1 {
  font-family: "Roboto Slab", serif;
  font-size: 3em;
  color: #000;
  animation: fadein 4s;
  @media (max-width: 400px) {
    font-size: 1em;

  }
}

.hero__heading__2 {
  font-family: "Roboto Slab", serif;
  font-size: 5em;
  font-weight: bold;
  animation: fadein 8s;
  @media (max-width: 400px) {
    font-size: 2em;
  }
}


     .hero__heading__2 {
        font-size: 5em;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        animation: fadein 8s;
        @media (max-width: 400px) {
          font-size: 1em;
        }
      }

h3 {
  align-items: center;
}


@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
