.nav {
  top: 0;
  right: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 40px;
  position: fixed;
  padding: 5px;
  font-family: "open sans";
  max-width: 1200px;
  background-color: #000;
  margin: auto;
  font-size: 1rem;

  &__title {
    padding: 8px;
    display: inline;
    color: #fff;
  }

  & .button {
    display: inline;
    padding: 8px;
  }

  &__list{
    float: right;
  }

  a {
    display: inline;
    color: #fff;
    padding: 8px;
    text-decoration: none;
    }

@media (max-width: 400px) {
    font-size: 0.5em;
  }
}
