.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  z-index: 1;
  display: inline-block;
  width: 100%;
  max-width: 1200px;
  height: 40px;
  padding: 5px;
  margin: auto;

  font-family: "open sans";
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.65);

  .nav__title {
    display: inline;
    padding: 8px;
    color: #fff;
  }

  &__title {
    display: inline;
    padding: 8px;
    color: #fff;
  }

  .button {
    display: inline;
    padding: 8px;

    @media (max-width: 400px) {
      display: none;
    }
  }

  &__list {
    float: right;
  }

  @media (max-width: 400px) {
    font-size: 0.5em;
  }

  a {/*stylelint-disable-line*/
    display: inline;
    padding: 8px;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
  }
}
