.nav {
width: 100%;

background-color: #000000;

padding: 5px;
top: 0;
left: 0;
right: 0;

font-family:'open sans';
font-size: 1rem;

height: 40px;

position: absolute;
display: inline-block;
max-width: 1200px;
margin: auto;

& .nav__title {
color: #ffffff;
display: inline;
padding: 8px;
}

& .button {
  display: inline;
  padding: 8px;
}
& .nav__list{
  float: right;
}

& a {
  color: #ffffff;
  text-decoration: none;
  display: inline;
  padding: 8px;

}
}
