.nav {
width: 100%;

background-color: rgba(0, 0, 0, 0.65);

padding: 5px;
top: 0;
left: 0;
right: 0;

font-family:'open sans';
font-size: 1rem;

height: 40px;

display: inline-block;
max-width: 1200px;
margin: auto;

position: fixed;


& .nav__title {
color: #ffffff;
display: inline;
padding: 8px;
}

& .button {
  display: inline;
  padding: 8px;
}
& .nav__list{
  float: right;
}

& a {
  color: #ffffff;
  text-decoration: none;
  display: inline;
  padding: 8px;

}
@media (max-width: 400px) {
  
  font-size: 0.5em;

}

}
