.nav {
  display: inline-block;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  padding: 5px;
  height: 40px;
  font-family:"open sans";
  background-color: #000;
  position: fixed;
  max-width: 1200px;
  font-size: 1rem;
  margin: auto;

  	&__title {
      color: #fff;
      display: inline;
      padding: 8px;
    }

    & .button {
      display: inline;
      padding: 8px;
    }

    & .nav__list{
      float: right;
    }

    & a {
      display: inline;
      color: #fff;
      text-decoration: none;
      padding: 8px;
    }
    @media (max-width: 400px) {
      font-size: 0.5em;
    }
  }
