.text {
  &__p {
    display: block;
    width: 100%;
    padding: 10px;
    margin: auto;
    margin-bottom: 2em;
    font-family: "Open Sans", sans-serif;
    word-break: keep-all;
  }
}

.instructions {
  float: right;
  width: 500px;
  margin: 5em;
  word-break: keep-all;
  @media (max-width: 600px) {
    float: right;
    width: 200px;
  }

  &__p {
    margin: 2em;
    font-size: 0.5em;
    text-align: left;
  }
}

.text_1 {
  width: 100%;
  padding-bottom: 10px;
  margin-top: 100px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;

  @media (max-width: 400px) {
    font-size: 1rem;
  }
}
