.text {
  &__p {
    margin: auto;
    line-height: 1.5;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: block;
    word-break: break-all;
    margin-bottom: 2em;
  }
}
.instructions {
  float: right;
   margin: 5em 5em 5em 5em;
   word-break: break-all;
   width: 500px;
   &__p {
     text-align: left;
     font-size: 0.5em;
     margin: 2em 2em 2em 2em;
   }
}
.text {
  font-size: 1em;
}
.text_1{
  text-align: center;
  width: 100%;
  font-family: 'Roboto slab';
  font-weight: bold;
  padding-bottom: 10px;
}
