.card {
  width: 100%;
  min-width: 200px;
  max-width: 600px;
  overflow: hidden;
  border-radius: 3px;
  background-color: #ffffff;
  flex-direction: column;
  font-family: 'open sans';
  margin-top: 7rem;
  align-items: flex-end; }
  .card__heading {
    margin-bottom: 5px;
    width: 100%;
    font-family: 'roboto slab';
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-word; }
  .card__content {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 100%; }
  .card__text {
    margin-bottom: 10px;
    margin-right: 10px; }
  .card__image {
    width: 30px;
    max-width: 30px;
    position: absolute;
    margin-top: 50px; }
  .card .img__card {
    float: right; }
  .card__image__big {
    float: right;
    margin-top: 6rem;
    margin-bottom: 6rem;
    align-items: flex-start; }
