footer {
  max-width: 100%;
  padding-top: 10px;
  font-size: 0.8em;
  color: #fff;
  list-style: none;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.65); }

li {
  margin-top: 5px; }

.block__content {
  columns: 2;
  max-width: 50%;
  margin: auto;
  font-size: 1em;
  line-height: 100%;
  text-align: center;
  vertical-align: baseline;
  list-style: none;
  list-style-type: none;
  flex-direction: column; }

.panel {
  width: 95%;
  margin: auto;
  text-align: center;
  border-top: groove #fff; }

.panel p {
  display: block;
  width: 50%;
  padding: 10px;
  margin: auto; }
