.button {
  display: inline-block;
  width: 100%;
  max-width: 256px;
  padding: 10px 5px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  font-family: "open sans";
  font-size: 2rem;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 2.5px;
  transition: color 500ms ease, background-color 500ms ease; }
  .button:hover {
    color: #eee;
    background-color: #333; }

.column-12 {
  width: 100%; }

.column-12 > .button__2 {
  display: block;
  max-width: 160px;
  padding: 8px;
  margin: auto;
  margin-bottom: 60px;
  font-size: 1.5em;
  text-align: center;
  align-items: center; }

.hero_text_button {
  display: inline-block;
  padding: 10px 25px;
  margin-top: 2em;
  font-family: "open sans";
  font-size: 2em;
  color: #eee;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  animation: fadein 10s; }
  .hero_text_buttonhover {
    color: #eee;
    background-color: #333; }
  @media (max-width: 400px) {
    .hero_text_button {
      max-width: 40%;
      font-size: 1em; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
