form {
  width: 1200px;
  overflow: hidden;
  font-size: 1.2em;
  width: 100%;
  line-height: 1em;
  justify-content: space-around;
  font-family: 'open sans'; }
  form .flex-outer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 50px; }
    @media (min-width: 600px) {
      form .flex-outer {
        align-items: flex-start; } }
  @media (max-width: 600px) {
    form {
      align-items: flex-start; } }
  form .flex-inner {
    list-style-type: none; }
  form .left,
  form .right {
    font-size: 1em;
    list-style-type: none; }
  form legend {
    line-height: 3em;
    font-size: 1.5rem; }
  form label {
    display: block; }
  form input {
    line-height: 1.5em; }
  form input #kyn {
    padding-right: 20px; }
  form p {
    padding-bottom: 10px;
    padding-top: 10px; }
