@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  margin-right: 20px;
  margin-left: 20px;
  font-family: 'Roboto Slab', serif, 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      margin: 0; } }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  .col-3 {
    width: 25%; }
  @media (max-width: 599px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-8 {
      width: 66.66667%; }
    .col-sm-6 {
      width: 50%; }
    .col-sm-4 {
      width: 33.33333%; }
    .col-sm-3 {
      width: 25%; } }

header {
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: 80%;
  min-height: 450px;
  padding: 2em;
  margin: 0 auto;
  margin-bottom: 2em;
  flex-direction: column;
  background: transparent url("gogn/bg-subpage.jpg") no-repeat 50% 50%;
  background-size: cover; }
  @media (max-width: 400px) {
    header {
      min-width: 100%;
      min-height: 300px;
      font-size: 2em;
      background-position: left; } }
  header.hero {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    padding: 2em;
    margin-bottom: 2em;
    flex-direction: column;
    background: transparent url("gogn/bg.jpg") fixed no-repeat 50% 50%;
    background-size: cover; }
    @media (max-width: 400px) {
      header.hero {
        min-width: 100%;
        min-height: 300px;
        background-position: left; } }

.heading {
  width: 100%;
  padding: 0;
  font-family: "Roboto Slab", serif;
  /*  border: none; */
  font-size: 2rem; }
  @media (max-width: 400px) {
    .heading {
      min-width: 100px;
      max-width: 300px; } }
  .heading___two {
    width: 100%;
    margin: 1em 0em;
    font-family: "Roboto Slab", serif;
    font-size: 1em;
    line-height: 1.5; }
  .heading__one {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 100px 0 0;
    margin: 0;
    font-family: "Roboto Slab", serif;
    font-size: 3em;
    color: #fff; }
  @media (max-width: 400px) {
    .heading {
      font-size: 1em; } }

.hero_text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000;
  text-align: center;
  transform: translate(-50%, -50%); }
  @media (max-width: 400px) {
    .hero_text {
      font-size: 1em; } }

.hero__heading__1 {
  font-family: "Roboto Slab", serif;
  font-size: 3em;
  color: #000;
  animation: fadein 4s; }
  @media (max-width: 400px) {
    .hero__heading__1 {
      font-size: 1rem; } }

.hero__heading__2 {
  font-family: "Roboto Slab", serif;
  font-size: 5em;
  font-weight: bold;
  animation: fadein 8s; }
  @media (max-width: 400px) {
    .hero__heading__2 {
      font-size: 1.5rem; } }

h3 {
  align-items: center; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.text__p {
  display: block;
  width: 100%;
  margin: auto;
  margin-bottom: 2em;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  word-break: keep-all; }

.instructions {
  float: right;
  width: 500px;
  margin: 5em;
  word-break: keep-all; }
  .instructions__p {
    margin: 2em;
    font-size: 0.5em;
    text-align: left; }

.text_1 {
  width: 100%;
  padding-bottom: 10px;
  font-family: "Roboto slab";
  font-weight: bold;
  text-align: center; }

.button {
  display: inline-block;
  margin: 0;
  padding: 10px 5px;
  border: 1px solid #666;
  border-radius: 2.5px;
  width: 100%;
  max-width: 256px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #eee;
  background-color: #666;
  font-family: 'open sans';
  font-size: 2 rem;
  text-decoration: none;
  text-align: center;
  transition: color 500ms ease, background-color 500ms ease;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto; }
  .button:hover {
    color: #eee;
    background-color: #333; }

.column-12 {
  width: 100%; }

.column-12 > .button__2 {
  text-align: center;
  align-items: center;
  display: block;
  margin: auto;
  padding: 8px 8px;
  max-width: 160px;
  margin-bottom: 60px;
  font-size: 1.5em; }

.hero_text_button {
  margin-top: 20px;
  border: 1px solid #666;
  display: inline-block;
  padding: 10px 25px;
  color: #eee;
  background-color: #666;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  animation: fadein 10s;
  font-family: 'open sans';
  cursor: pointer; }
  .hero_text_buttonhover {
    color: #eee;
    background-color: #333; }
  @media (max-width: 400px) {
    .hero_text_button {
      max-width: 60px;
      font-size: 1rem;
      padding: 5px; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.card {
  width: 100%;
  min-width: 200px;
  max-width: 600px;
  overflow: hidden;
  border-radius: 3px;
  background-color: #ffffff;
  flex-direction: column;
  font-family: 'open sans';
  margin-top: 7rem;
  align-items: flex-end; }
  @media (max-width: 400px) {
    .card {
      width: 100%;
      overflow: hidden; } }
  .card__heading {
    margin-bottom: 5px;
    width: 100%;
    font-family: 'roboto slab';
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-word; }
    @media (max-width: 400px) {
      .card__heading {
        width: 100%;
        font-size: 1.2em; } }
  .card__content {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 100%; }
  .card__text {
    margin-bottom: 10px;
    margin-right: 10px; }
    @media (max-width: 400px) {
      .card__text {
        width: 100%;
        font-size: 1em; } }
  .card__image {
    width: 30px;
    max-width: 30px;
    position: absolute; }
  .card__image__big {
    float: right;
    margin-top: 6rem;
    margin-bottom: 6rem;
    align-items: flex-start; }

.cardlist {
  font-family: 'open sans';
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  margin: auto;
  justify-content: space-around; }
  @media (max-width: 400px) {
    .cardlist {
      flex-direction: column;
      flex-wrap: nowrap; } }
  .cardlist__col {
    flex-flow: wrap;
    flex-direction: column;
    display: block;
    flex-wrap: nowrap;
    justify-content: space-around; }
  .cardlist .circular--square {
    border-radius: 200px;
    height: 300px;
    margin-left: 30px;
    margin-right: 30px; }
  .cardlist .text__cardlist {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    overflow: visible;
    padding: 5px;
    align-items: flex-end; }
  .cardlist .text__cardlist__1 {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    overflow: visible;
    padding: 0px;
    margin: auto;
    align-items: flex-end; }
  .cardlist .text__p {
    text-align: center;
    font-size: 14px; }
  .cardlist h4 {
    font-family: 'open sans';
    align-items: flex-end;
    font-size: 20px;
    margin: auto;
    display: block;
    text-align: center;
    padding: 5px;
    font-style: italic;
    width: 100%; }
  .cardlist.row {
    padding: 15px;
    flex-direction: row;
    flex-flow: wrap;
    width: 100%;
    display: block;
    margin: auto; }
  .cardlist__row {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    width: 100%;
    display: block;
    margin: auto; }
  .cardlist__col {
    width: 100%;
    flex-direction: column;
    display: inline-block;
    padding: 10px;
    align-items: flex-end;
    display: block;
    margin: auto; }

form {
  width: 1200px;
  overflow: hidden;
  font-size: 1.2em;
  width: 100%;
  line-height: 1em;
  justify-content: space-around;
  font-family: 'open sans'; }
  form .flex-outer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 50px; }
    @media (min-width: 600px) {
      form .flex-outer {
        align-items: flex-start; } }
  @media (max-width: 600px) {
    form {
      align-items: flex-start; } }
  form .flex-inner {
    list-style-type: none; }
  form .left,
  form .right {
    font-size: 1em;
    list-style-type: none; }
  form legend {
    line-height: 3em;
    font-size: 1.5rem; }
  form label {
    display: block; }
  form input {
    line-height: 1.5em; }
  form input #kyn {
    padding-right: 20px; }
  form p {
    padding-bottom: 10px;
    padding-top: 10px; }

footer {
  max-width: 100%;
  padding-top: 10px;
  font-size: 0.8em;
  color: #fff;
  list-style: none;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.65); }

li {
  margin-top: 5px; }

.block__content {
  columns: 2;
  max-width: 50%;
  margin: auto;
  font-size: 1em;
  line-height: 100%;
  text-align: center;
  vertical-align: baseline;
  list-style: none;
  list-style-type: none;
  flex-direction: column; }

.panel {
  width: 95%;
  margin: auto;
  text-align: center;
  border-top: groove #fff; }

.panel p {
  display: block;
  width: 50%;
  padding: 10px;
  margin: auto; }

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  max-width: 1200px;
  height: 40px;
  padding: 5px;
  margin: auto;
  font-family: "open sans";
  font-size: 1rem;
  background-color: #000; }
  .nav__title {
    display: inline;
    padding: 8px;
    color: #fff; }
  .nav .button {
    display: inline;
    padding: 8px; }
    @media (max-width: 400px) {
      .nav .button {
        display: none; } }
  .nav__list {
    float: right; }
  @media (max-width: 400px) {
    .nav {
      font-size: 0.5em; } }

a {
  display: inline;
  padding: 8px;
  color: #fff;
  text-decoration: none; }
