.text__p {
  display: block;
  width: 100%;
  margin: auto;
  margin-bottom: 2em;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  word-break: keep-all; }

.instructions {
  float: right;
  width: 500px;
  margin: 5em;
  word-break: keep-all; }
  .instructions__p {
    margin: 2em;
    font-size: 0.5em;
    text-align: left; }

.text {
  font-size: 1em; }

.text_1 {
  width: 100%;
  padding-bottom: 10px;
  font-family: "Roboto slab";
  font-weight: bold;
  text-align: center; }
