@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  margin-right: 20px;
  margin-left: 20px;
  font-family: 'Roboto Slab', serif, 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      margin: 0; } }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  .col-3 {
    width: 25%; }
  @media (max-width: 599px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-8 {
      width: 66.66667%; }
    .col-sm-6 {
      width: 50%; }
    .col-sm-4 {
      width: 33.33333%; }
    .col-sm-3 {
      width: 25%; } }

header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  padding: 2em;
  min-height: 500px;
  background: transparent url("gogn/bg-subpage.jpg") no-repeat 50% 50%;
  background-size: cover;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 80%; }
  header.hero {
    background: transparent url("gogn/bg.jpg") fixed no-repeat 50% 50%;
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    padding: 2em; }

.heading {
  width: 100%;
  padding: 0;
  border: none;
  font-family: 'Roboto Slab', serif;
  font-size: 2rem; }

.heading___two {
  font-size: 1em;
  font-family: 'Roboto Slab', serif;
  margin: 1em 1em 0em 0.5em;
  line-height: 1.5;
  width: 100%;
  color: inherit; }

.heading__one {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 100px 0 0 0;
  font-size: 3em;
  font-family: 'Roboto Slab', serif;
  color: #ffffff; }

.hero_text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black; }

.hero__heading__1 {
  font-size: 3em;
  font-family: 'Roboto Slab', serif;
  color: #000; }

.hero__heading__2 {
  font-size: 5em;
  font-family: 'Roboto Slab', serif;
  font-weight: bold; }

.h3 {
  align-items: center; }

.text__p {
  margin: auto;
  line-height: 1.5;
  width: 100%;
  font-family: 'Open Sans';
  display: block;
  word-break: break-all; }

.instructions {
  float: right;
  margin: 5em 5em 5em 5em;
  word-break: break-all;
  width: 500px; }
  .instructions__p {
    text-align: left;
    font-size: 0.5em;
    margin: 2em 2em 2em 2em; }

.text_1 {
  text-align: center;
  width: 100%; }

.button {
  display: inline-block;
  margin: 0;
  padding: 10px 5px;
  border: 1px solid #666;
  border-radius: 4px;
  width: 100%;
  max-width: 256px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #eee;
  background-color: #666;
  font-family: 'open sans';
  font-size: 1.5 rem;
  text-decoration: none;
  text-align: center;
  transition: color 500ms ease, background-color 500ms ease;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto; }
  .button:hover {
    color: #eee;
    background-color: #333; }

.column-12 {
  width: 100%; }

.column-12 > .button__2 {
  text-align: center;
  align-items: center;
  display: block;
  margin: auto;
  padding: 5px 5px;
  max-width: 150px; }

.hero_text_button {
  margin-top: 2em;
  border: 1px solid #666;
  display: inline-block;
  padding: 10px 25px;
  color: #eee;
  background-color: #666;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  cursor: pointer; }

.card {
  width: 100%;
  min-width: 200px;
  max-width: 600px;
  overflow: hidden;
  border-radius: 3px;
  background-color: #ffffff;
  flex-direction: column;
  font-family: 'open sans';
  margin-top: 100px; }
  .card__heading {
    margin-bottom: 15px;
    width: 100%;
    font-family: 'open sans bold';
    font-size: 1em;
    word-break: break-word; }
  .card__content {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%; }
  .card__text {
    margin-bottom: 10px;
    margin-right: 10px; }
  .card__image {
    width: 30px;
    max-width: 30px;
    position: absolute;
    margin-top: 50px; }
  .card .img {
    float: right; }

.cardlist {
  font-family: 'open sans';
  width: 90%;
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  margin: auto; }
  .cardlist__col {
    flex-flow: wrap;
    flex-direction: column;
    display: block;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    align-items: flex-end; }
  .cardlist .circular--square {
    border-radius: 200px; }
  .cardlist .text {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    overflow: visible; }
  .cardlist .text1 {
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    overflow: visible;
    padding: 0px;
    margin: auto;
    align-items: flex-end; }
  .cardlist .text__p {
    text-align: center;
    font-size: 12px; }
  .cardlist h4 {
    font-family: 'open sans';
    align-items: flex-end;
    font-size: 12px;
    margin: auto;
    display: block;
    text-align: center;
    font-weight: 400 italic; }
  .cardlist.row {
    padding: 15px;
    flex-direction: row;
    flex-flow: wrap;
    width: 100%;
    display: block;
    margin: auto; }
  .cardlist__row {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    width: 100%;
    display: block;
    margin: auto; }
  .cardlist__col {
    width: 100%;
    flex-direction: column;
    display: inline-block;
    padding: 10px;
    align-items: flex-end;
    display: block;
    margin: auto; }
  @media (max-width: 600px) {
    .cardlist {
      min-width: 300px;
      width: 100%;
      height: 100%;
      min-width: 400px;
      object-fit: cover; } }

footer {
  background-color: rgba(0, 0, 0, 0.65);
  color: #ffffff;
  list-style: none;
  list-style-type: none;
  font-size: 0.8em;
  max-width: 100%; }

li {
  margin-top: 5px; }

.block__content {
  columns: 2;
  font-size: 1em;
  flex-direction: column;
  vertical-align: baseline;
  text-align: center;
  list-style: none;
  list-style-type: none;
  margin: auto;
  max-width: 50%; }

.panel {
  margin: auto;
  border-top: groove #ffffff;
  width: 95%;
  text-align: center; }

p {
  margin: auto;
  width: 50%;
  padding: 10px;
  display: block; }

.nav {
  width: 100%;
  background-color: #000000;
  padding: 5px;
  top: 0;
  left: 0;
  right: 0;
  font-family: 'open sans';
  font-size: 1rem;
  height: 40px;
  position: absolute;
  display: inline-block;
  max-width: 1200px;
  margin: auto; }
  .nav .nav__title {
    color: #ffffff;
    display: inline;
    padding: 8px; }
  .nav .button {
    display: inline;
    padding: 8px; }
  .nav .nav__list {
    float: right; }
  .nav a {
    color: #ffffff;
    text-decoration: none;
    display: inline;
    padding: 8px; }

.column {
  display: block;
  flex-wrap: wrap;
  flex-direction: column; }
