@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  margin-right: 20px;
  margin-left: 20px;
  font-family: 'Roboto Slab', serif, 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      margin: 0; } }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  .col-3 {
    width: 25%; }
  @media (max-width: 599px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-8 {
      width: 66.66667%; }
    .col-sm-6 {
      width: 50%; }
    .col-sm-4 {
      width: 33.33333%; }
    .col-sm-3 {
      width: 25%; } }

.head {
  width: 100%;
  font-family: Roboto Slab;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  padding: 2em;
  width: 100%;
  min-height: 500px;
  background: transparent url(bg-subpage.jpg) no-repeat fixed 50% 50%;
  background-size: cover;
  font-family: 'open sans';
  font-size: 1 rem;
  background-color: #000000; }
  .head h1 {
    color: #ffffff; }
  .head a {
    color: #ffffff; }

.heading {
  width: 100%;
  padding: 0;
  border: none;
  font-family: Roboto Slab;
  font-size: 2rem; }
  .heading--one {
    font-size: 3rem; }
  .heading--two {
    font-size: 2rem; }
  .heading--three {
    font-size: 1rem; }

.text__p {
  font-family: 'Open Sans'; }

blockquote {
  margin: 1em 0 1em 2em;
  line-height: 1.5; }

.button {
  display: inline-block;
  margin: 0;
  padding: 10px 5px;
  border: 1px solid #666;
  border-radius: 4px;
  width: 100%;
  max-width: 256px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #eee;
  background-color: #666;
  font-family: 'open sans';
  font-size: 1.5 rem;
  text-decoration: none;
  text-align: center;
  transition: color 500ms ease, background-color 500ms ease;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto; }
  .button:hover {
    color: #eee;
    background-color: #333; }

.card {
  width: 100%;
  min-width: 200px;
  max-width: 600px;
  overflow: hidden;
  border-radius: 3px;
  background-color: #ffffff;
  flex-direction: column;
  font-family: 'open sans'; }
  .card__heading {
    margin-bottom: 15px;
    width: 100%;
    font-family: 'open sans bold';
    font-size: 1em;
    word-break: break-word; }
  .card__content {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%; }
  .card__text {
    margin-bottom: 10px;
    margin-right: 10px; }
  .card__image {
    width: 30px;
    max-width: 30px;
    position: absolute;
    margin-top: 50px; }
  .card .img {
    float: right; }

.cardlist {
  font-family: 'open sans';
  width: 90%;
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  margin: auto;
  /*&.row{
  padding: 15px;
  flex-direction: row;
  flex-flow: wrap;
  align-self: baseline;
}

  &__row{
    width:100%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
  }

  &__col {
    width: 50%;
    flex-direction: column;
    display: inline-block;
    padding: 10px;
    align-items: center;
  }

@media(max-width: 600px){
  min-width: 300px;
  width: 100%;
  height: 100%;
  min-width: 400px;
  object-fit: cover;
}*/ }
  .cardlist__col {
    flex-flow: wrap;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around; }
    .cardlist__col .circular--square {
      border-radius: 200px; }
  .cardlist .text {
    text-align: center;
    font-weight: bold; }
    .cardlist .text p {
      text-align: center; }
  .cardlist h4 {
    font-family: 'open sans';
    align-items: center; }

footer {
  padding: 5em;
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  list-style: none;
  list-style-type: none; }

.block__content {
  margin: auto;
  columns: 2;
  font-size: 1em;
  flex-direction: column;
  vertical-align: baseline;
  text-align: center;
  list-style: none;
  list-style-type: none; }

.block--block-2 {
  margin-bottom: 20px; }

.panel {
  margin: auto;
  border-top: groove #ffffff;
  width: 100%;
  text-align: center; }

.nav {
  width: 100%;
  background-color: #000000;
  padding: 5px;
  top: 0;
  left: 0;
  right: 0;
  font-family: 'open sans';
  font-size: 1 rem;
  height: 40px;
  position: fixed;
  display: inline; }
  .nav .nav__title {
    color: #ffffff;
    display: inline;
    padding: 8px; }
  .nav .button {
    display: inline;
    padding: 8px; }
  .nav .nav__list {
    float: right; }
  .nav a {
    color: #ffffff;
    text-decoration: none;
    display: inline;
    padding: 8px; }

.hero {
  max-width: 100%;
  height: 1vh;
  position: absolute; }
